.Container{
  width: 100%;
  min-height: 100vh;
  background-color: #F6F6F6;
  font-family: "Poppins", sans-serif;
}

/* Barra Superior */
.BarraSuperior{
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 40px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

/* Logo + Subtexto */
.LogoCellVex{
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: #5C2D91;
}

.SistemaDeGestao{
  font-size: 11px;
  margin-top: -2px;
  color: #6f6f6f;
}

/* Navegação */
.BotoesNavegacao{
  background-color: #E9DFF1;
  padding: 10px 24px;
  border-radius: 10px;
  color: #5C2D91;
  font-weight: 500;
  cursor: pointer;
  transition: 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BotaoLogout{
  background-color: #FFE8E8;
  color: #B42318;
  padding: 10px 24px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BotaoLogout:hover{
  background-color: #FFD6D6;
  transform: translateY(-1px);
}

.BotoesNavegacao:hover{
  background-color: #D9C9EB;
  transform: translateY(-1px);
}

/* Título da Página */
.Clientes{
  margin: 40px 80px 0px;
  font-size: 22px;
  font-weight: 600;
  color: #5C2D91;
}

.gerencie-1{
  margin-left: 80px;
  font-size: 13px;
  color: #757575;
}
.gerencie-2{
  margin-left: 20px;
  font-size: 13px;
  color: #757575;
}
/* Caixa Principal */
.Gestao{
  width: 90%;
  margin: 30px auto;
  border: 1px solid #C8A3DB;
  border-radius: 12px;
  padding: 22px;
  background-color: #FFFFFF;
}

/* Barra de Ações */
.actions-bar{
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.search-input{
  width: 65%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #bbb;
}

.btn-primary{
  background-color: #5C2D91;
  color: #fff;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  
}
.btn-primary:hover{
  background-color: #4b197a;
}

/* Tabela */
.client-table{
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #FFFFFF;
  border-radius: 12px;
  border: 1px solid #C8A3DB;
  overflow: hidden;
}

.client-table th{
  background-color: #F3EAFF;
  padding: 14px;
  text-align: left;
  color: #5C2D91;
}

.client-table td{
  padding: 14px;
  border-top: 1px solid #eee;
}

.actions{
  text-align: center;
  cursor: pointer;
}

.title {
font-size: 20px;
margin-top: 5px;
font-weight: 600;
margin-left: 20px;

}
